.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.card-title {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  color: #333;
  padding: 10px;
  margin: 0;
  align-items: center;
}

.card-content {
  padding: 10px;

  &:hover {
    background-color: #f0f0f0;
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
}

.card-image {
  width: 20%;
  height: auto;
  display: block;
}

.card-arrow {
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
  transform: rotate(-90deg);
}

.arrow-rotate {
  transform: rotate(90deg);
}

.card-expanded .card-arrow {
  transform: rotate(180deg);
}
